@mixin respond-to($breakpoint) {

  @if $breakpoint == "default" {
    @content;
  }

  @if $breakpoint == "xxxxxx-small" {
    @media (min-width: $xxxxxx-small-breakpoint) {
      @content;
    }
  }

  @if $breakpoint == "xxxxx-small" {
    @media (min-width: $xxxxx-small-breakpoint) {
      @content;
    }
  }

  @if $breakpoint == "xxxx-small" {
    @media (min-width: $xxxx-small-breakpoint) {
      @content;
    }
  }

  @if $breakpoint == "xxx-small" {
    @media (min-width: $xxx-small-breakpoint) {
      @content;
    }
  }

  @if $breakpoint == "xx-small" {
    @media (min-width: $xx-small-breakpoint) {
      @content;
    }
  }

  @if $breakpoint == "x-small" {
    @media (min-width: $x-small-breakpoint) {
      @content;
    }
  }

  @if $breakpoint == "small" {
    @media (min-width: $small-breakpoint) {
      @content;
    }
  }

  @else if $breakpoint == "large" {
    @media (min-width: $large-breakpoint) {
      @content;
    }
  }
}

@mixin set-page-width($breakpoint, $width) {
  @include respond-to($breakpoint) {
    .page-container {
      img {
        width: $width;
      }

      .image-container {
          height: calc(1.4 * #{$width} + 4rem);
      }
    }
  }
}

@mixin set-thumbnail-width($breakpoint, $divider) {
  @include respond-to($breakpoint) {
    .pages-grid {
      .cell {
        width: calc(100% / #{$divider});
      }
    }
  }
}

@mixin lay-out-without-grid{
  .app {
    position: relative;

    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }

  .main-section {
    display: block; /* Internet Explorer */
    bottom: 0;
    left: $menu-width;
    position: absolute;;
    right: 0;
    top: $header-height + $navbar-height + $header-border-width;

    .loading-spinner {
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      bottom: 50%;
      transform: translate(0, -50%);
    }
  }

  .menu {
    //position: absolute;
    float: left;
    min-height: 100vh;
    top: calc(#{$header-height} + #{$navbar-height} + 2px);
    bottom: 0;
    width: $menu-width;
  }

  .navbar {
    height: $navbar-height;
  }
}
