$font-color: #c3c3c3;
$background-color: #0d0d0d;
$menu-navbar-color: #232323;
$header-color: #151515;
$main-section-color: #1b1b1b;
$header-border-color: #0d0d0d;
$input-color: #4d4d4d;


$xxxxxx-small-breakpoint: 320px;
$xxxxx-small-breakpoint: 400px;
$xxxx-small-breakpoint: 470px;
$xxx-small-breakpoint: 500px;
$xx-small-breakpoint: 580px;
$x-small-breakpoint: 630px;
$small-breakpoint: 770px;
$large-breakpoint: 940px;

$page-navigation-arrow-height: 10px;
$navbar-height: 40px;
$header-height: 100px;

$header-border-width: 2px;

$menu-width: 260px;

/*$image-height-xxxxxx-small: 370px;
$image-height-xxxxx-small: 450px;
$image-height-xxxx-small: 500px;
$image-height-xxx-small: 650px;
$image-height-xx-small: 700px;
$image-height-small: 600px;
$image-height-large: 800px;*/

$image-width-xxxxxx-small: 260px;
$image-width-xxxxx-small: 320px;
$image-width-xxxx-small: 355px;
$image-width-xxx-small: 460px;
$image-width-xx-small: 500px;
$image-width-small: 450px;
$image-width-large: 570px;
