.app {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "header header"
    "menu main-section";
  height: 100vh;
}

.app * {
  color: #2e2e2e;
}
