.chapter-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.page-thumbnail {
  max-width: 100%;
}

.cell img {
  display: block;
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .pages-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3  - 2rem);
  }
}
