@import "_variables.scss";
@import "_mixins.scss";

.main-section {
  background: $main-section-color;
  grid-area: main-section;
  min-height: 100vh;

  .page-thumbnail {
    height: 200px;
  }

  p {
    padding: 25px;
  }
}

@include respond-to(small) {
  @supports (display:grid) {
    .main-section {
      box-shadow: inset 11px 0px 26px -6px rgba(0,0,0,1);
    }
  }
}
