@import "_variables.scss";

.navigation-list {
  display: flex;
  padding: 10px;

  button {
    padding-bottom: 0;
    padding-top: 0;
  }

  li {
    margin: 3px 10px;
  }
}

.navigation-bar {
  align-items: center;
  background: $menu-navbar-color;
  display: flex;
  grid-area: navigation-bar;
  justify-content: flex-end;
}
