@import "_variables.scss";
@import "_mixins.scss";

.page-container {
  display: flex;
  flex-direction: column;

  .image-container {
    margin: 0 2rem;
  }

  .loading-spinner {
    margin-top: 50%;  }

  img {
    display: block;
    margin: 2rem auto;
  }
}

@include set-page-width(xxxxxx-small, $image-width-xxxxxx-small);
@include set-page-width(xxxxx-small, $image-width-xxxxx-small);
@include set-page-width(xxxx-small, $image-width-xxxx-small);
@include set-page-width(xxx-small, $image-width-xxx-small);
@include set-page-width(xx-small, $image-width-xx-small);
@include set-page-width(small, $image-width-small);
@include set-page-width(large, $image-width-large);
