@import "_functions.scss";
@import "_variables.scss";

$arrow-svg-color: url-encode-color($font-color);

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.container::after {
    content: '';
    width: 100%;
}

.container * {
  margin: 5px;
}

a:last-child {
    order: 1;
}

.disabled {
  opacity: .3;
}

.back-to-all {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20height%3D%2710%27%20width%3D%2720%27%3E%3Cpolygon%20points%3D%270%2C0%2020%2C0%2010%2C10%27%20style%3D%27fill%3A#{$arrow-svg-color}%27%2F%3E%3C%2Fsvg%3E%0A");
}

.first {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20height%3D%2710%27%20width%3D%2710%27%3E%3Cpolygon%20points%3D%270%2C5%2010%2C0%2010%2C10%200%2C5%2010%2C5%2020%2C10%2020%2C0%2010%2C5%27%20style%3D%27fill%3A#{$arrow-svg-color}%27%2F%3E%3C%2Fsvg%3E%0A");
}

.last {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20height%3D%2710%27%20width%3D%2720%27%3E%3Cpolygon%20points%3D%2710%2C5%200%2C10%200%2C0%2010%2C5%2010%2C10%2020%2C5%2010%2C0%27%20style%3D%27fill%3A#{$arrow-svg-color}%27%2F%3E%3C%2Fsvg%3E%0A");
}

.next {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20height%3D%2710%27%20width%3D%2710%27%3E%3Cpolygon%20points%3D%270%2C10%200%2C0%2010%2C5%27%20style%3D%27fill%3A#{$arrow-svg-color}%27%2F%3E%3C%2Fsvg%3E%0A");
}

.previous {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20height%3D%2710%27%20width%3D%2710%27%3E%3Cpolygon%20points%3D%270%2C5%2010%2C0%2010%2C10%27%20style%3D%27fill%3A#{$arrow-svg-color}%27%2F%3E%3C%2Fsvg%3E%0A");
}

.next, .previous {
  height: $page-navigation-arrow-height;
  width: 10px;
}

.back-to-all, .first, .last {
  height: $page-navigation-arrow-height;
  width: 20px;
}
