.volume-menu {
  margin-bottom: 1rem;

  button {
    background: transparent;
    border: 0;
  }

  input {
    width: 80%;
  }

  ul {
    li {
      margin: .5rem 0 .5rem 1rem;
      position: relative;
    }

    a {
      max-width: 173px;
    }
  }

  .chapter-title-container,
  .add-chapter-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .add-chapter-container {
    margin: .2rem 0 .5rem 0;
  }
}
